/*HECHO CON IA*/

.post-image-container {
  width: 100%;
  aspect-ratio: 1 / 1; /* Esto hace que la foto sea cuadrada */
  overflow: hidden;
  background-color: #efefef;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto evita que la foto se estire */
}